.header {
  padding-top: 3rem;
  background-color: #f9d2cb;
}

.header__titles {
  padding: 0 3rem 3rem;
}

.h2-like {
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.h1-like {
  font-weight: 500;
  font-size: 2.6rem;
  padding-top: .6rem;
}

.prices {
  background-color: #f9d2cb;
  padding: 0 3rem 3rem;
}

.price {
  background-color: white;
  border-radius: .6rem;
  padding: 1.2rem;
}

.price__button__amount {
  font-size: 1.2rem;
  color: #9c9c9c;
  margin-top: .8rem;
}

.price__button__plus {
  background-color: #a3f4dc;
  padding: 1rem 1.2rem;
  font-size: 2.4rem;
  border-radius: .4rem;
}

.price__button__wrapper {
  display: flex;
  flex-direction: column;
}

.prices__list {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.1rem;
  grid-auto-flow: column;
}

.price__button {
  display: flex;
  justify-content: space-between;
}
